html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 62.5%;
}
head,
body {
  background-color: #ffff99;
}
.head {
  margin: 0rem 6rem;
  text-align: center;
  font-size: 5rem;
  color: #;
}
.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.block_image_card {
  width: 21%;
  margin: 2.5rem;
  box-shadow: 0.4rem 0.3rem 0.8rem 1rem #000000;
  transition: all 0.3s;
  border-radius: 30px;
  background-color: #ffff33;
}
.block_image_card:hover {
  transform: scale(1.1);
}
.block_image {
  width: 100%;
}
.block_text {
  text-align: center;
  margin: 1rem 0rem;
  font-size: 2rem;
}
.dave:hover {
  opacity: 0;
}
.eric:hover {
  -webkit-animation: rainbow 1s infinite;
  -ms-animation: rainbow 1s infinite;
  -o-animation: rainbow 1s infinite;
  animation: rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@-ms-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@-o-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
.king-bob:hover {
  filter: saturate(100);
}
.kevin {
  transition: all 60s;
}
.kevin:hover {
  transform: rotate(360deg);
}
.mel:hover {
  transform: skew(-100deg);
}
.bob:hover {
  transform: translate(-1rem, -1rem);
}
.animation_image {
  width: 3vw;
  background-color: transparent;
}
@keyframes animation {
  0% {
    top: 1rem;
    left: 1rem;
  }
  25% {
    top: 1rem;
    left: 4rem;
  }
  50% {
    top: 4rem;
    left: 4rem;
  }
  75% {
    top: 4rem;
    left: 1rem;
  }
  100% {
    top: 1rem;
    left: 1rem;
  }
}
.animation {
  position: absolute;
  animation-name: animation;
  animation-duration: 0.05s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
@media (max-width: 768px) {
  .head {
    font-size: 3.5rem;
    margin: 0rem 4rem;
    color: #000000;
  }
  .block_image_card {
    width: 20%;
    margin: 2rem;
  }
  .block_text {
    font-size: 1.5rem;
  }
  .block_image_card {
    box-shadow: 0.4rem 0.3rem 0.8rem 0.7rem #ffff44;
  }
  @keyframes animation {
    0% {
      top: 1rem;
      left: 1rem;
    }
    25% {
      top: 1rem;
      left: 1rem;
    }
    50% {
      top: 2rem;
      left: rem;
    }
    75% {
      top: 2rem;
      left: 1rem;
    }
    100% {
      top: 1rem;
      left: 1rem;
    }
  }
}
@media (max-width: 390px) {
  .head {
    font-size: 3rem;
    margin: 0rem 2rem;
    color: #000000;
  }
  .flex_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .block_image_card {
    width: 70%;
    margin: 1.2rem auto;
  }
  .block_text {
    font-size: 1.5rem;
  }
  .block_image_card {
    box-shadow: 0.4rem 0.3rem 0.8rem 0.3rem #ffff66;
  }
  @keyframes animation {
    0% {
      top: 0.5rem;
      left: 0.5rem;
    }
    25% {
      top: 0.5rem;
      left: 1rem;
    }
    50% {
      top: 1rem;
      left: 1rem;
    }
    75% {
      top: 1rem;
      left: 0.5rem;
    }
    100% {
      top: 0.5rem;
      left: 0.5rem;
    }
  }
}
