html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: #ffff33;
}

.header {
  font-size: 8rem;
  text-align: center;
  color: black;
  border: 1rem solid black;
  margin-left: 50rem;
  margin-right: 50rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.parent {
  font-size: 6rem;
  display: flex;
  justify-content: space-evenly;
}
.child {
  width: 30%;
  height: 55%;
  border: 3px solid #000000;
  text-align: center;
  background-color: #ffcd01;
  box-shadow: 1rem 1rem 2rem;
  margin-bottom: 3em;
}

#img {
  width: 25rem;
  height: 25rem;
  border: 5px solid black;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}
